body { color: #222; font-family: "Lucida Grande"; font-size: 90%; line-height: 1.5em; }

h2 { margin: 30px 0 15px; }
pre, code { font-family: Menlo, Monaco; }

section.method { margin: 10px 0; padding: 0; border: 1px solid #aaa; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
section.method h3 { margin: 2px 2px 10px; padding: 5px 10px; font-weight: normal; font-family: Menlo, Monaco; font-size: 110%; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; }
section.method h3 span.method { margin: 0 2px 0 0; font-weight: bold; }
section.method h3 span.parameter { font-style: italic; }
section.method p { margin: 10px; }

section.class section.method { background-color: #ffffdd; }
section.instance section.method { background-color: #e7eeff; }

section.class.public section.method h3 { background-color: #dac885; }
section.class.protected section.method h3 { background-color: #e9e9cd; }
section.instance.public section.method h3 { background-color: #9ba7c7; }
section.instance.protected section.method h3 { background-color: #d6dbe6; }
